<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>141_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,95}</string>
                <key>spriteSourceSize</key>
                <string>{85,95}</string>
                <key>textureRect</key>
                <string>{{1,1},{85,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>141_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,60}</string>
                <key>spriteSourceSize</key>
                <string>{69,60}</string>
                <key>textureRect</key>
                <string>{{61,483},{69,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>141_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,75}</string>
                <key>spriteSourceSize</key>
                <string>{54,75}</string>
                <key>textureRect</key>
                <string>{{73,327},{54,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>141_1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,50}</string>
                <key>spriteSourceSize</key>
                <string>{75,50}</string>
                <key>textureRect</key>
                <string>{{75,250},{75,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>141_1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{48,633},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>141_1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,58}</string>
                <key>spriteSourceSize</key>
                <string>{76,58}</string>
                <key>textureRect</key>
                <string>{{1,473},{76,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>141_1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,71}</string>
                <key>spriteSourceSize</key>
                <string>{75,71}</string>
                <key>textureRect</key>
                <string>{{1,175},{75,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>141_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,58}</string>
                <key>spriteSourceSize</key>
                <string>{71,58}</string>
                <key>textureRect</key>
                <string>{{1,551},{71,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>141_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,45}</string>
                <key>spriteSourceSize</key>
                <string>{74,45}</string>
                <key>textureRect</key>
                <string>{{1,624},{74,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>141_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,71}</string>
                <key>spriteSourceSize</key>
                <string>{72,71}</string>
                <key>textureRect</key>
                <string>{{1,248},{72,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>141_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,77}</string>
                <key>spriteSourceSize</key>
                <string>{57,77}</string>
                <key>textureRect</key>
                <string>{{70,404},{57,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>141_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,73}</string>
                <key>spriteSourceSize</key>
                <string>{70,73}</string>
                <key>textureRect</key>
                <string>{{1,321},{70,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>141_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,77}</string>
                <key>spriteSourceSize</key>
                <string>{45,77}</string>
                <key>textureRect</key>
                <string>{{61,554},{45,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>141_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,73}</string>
                <key>spriteSourceSize</key>
                <string>{49,73}</string>
                <key>textureRect</key>
                <string>{{78,175},{49,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>141_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,75}</string>
                <key>spriteSourceSize</key>
                <string>{67,75}</string>
                <key>textureRect</key>
                <string>{{1,396},{67,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>141_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,95}</string>
                <key>spriteSourceSize</key>
                <string>{85,95}</string>
                <key>textureRect</key>
                <string>{{1,88},{85,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sheep141.png</string>
            <key>size</key>
            <string>{128,704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5b97aff6bcf42038d4c9b9e633e488a:6c1060101656c3350be6cd942276b37f:ffd67624a5a2efed0d25cc4ee8614860$</string>
            <key>textureFileName</key>
            <string>sheep141.png</string>
        </dict>
    </dict>
</plist>
