<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{140,148}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{461,1},{140,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{613,145},{150,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{146,158}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{319,363},{146,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{158,124}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{479,355},{158,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{158,160}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{181,201},{158,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,166}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{477,303},{50,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{150,134}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{477,151},{150,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{134,158}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{341,155},{134,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{152,142}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{317,1},{152,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{183,1},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,142}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{603,1},{130,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,2}</string>
                <key>spriteSize</key>
                <string>{110,164}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{1,399},{110,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,86}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{645,297},{140,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,90}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{167,399},{150,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,198}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{178,196}</string>
                <key>spriteSourceSize</key>
                <string>{180,200}</string>
                <key>textureRect</key>
                <string>{{1,201},{178,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pig.png</string>
            <key>size</key>
            <string>{744,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:078eb5c1612197be554381e91de3a6de:6e8597f1287ed3d41b6025d0bb627cff:cc7484018991b35fd066a21f6d8a9d46$</string>
            <key>textureFileName</key>
            <string>pig.png</string>
        </dict>
    </dict>
</plist>
