<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>141_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,95}</string>
                <key>spriteSourceSize</key>
                <string>{85,95}</string>
                <key>textureRect</key>
                <string>{{1,1},{85,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>141_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,53}</string>
                <key>spriteSourceSize</key>
                <string>{67,53}</string>
                <key>textureRect</key>
                <string>{{433,1},{67,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>141_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,56}</string>
                <key>spriteSourceSize</key>
                <string>{58,56}</string>
                <key>textureRect</key>
                <string>{{566,62},{58,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>141_1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,59}</string>
                <key>spriteSourceSize</key>
                <string>{56,59}</string>
                <key>textureRect</key>
                <string>{{559,1},{56,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>141_1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,64}</string>
                <key>spriteSourceSize</key>
                <string>{57,64}</string>
                <key>textureRect</key>
                <string>{{387,56},{57,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>141_1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,53}</string>
                <key>spriteSourceSize</key>
                <string>{71,53}</string>
                <key>textureRect</key>
                <string>{{246,68},{71,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>141_1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,58}</string>
                <key>spriteSourceSize</key>
                <string>{61,58}</string>
                <key>textureRect</key>
                <string>{{503,69},{61,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>141_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,54}</string>
                <key>spriteSourceSize</key>
                <string>{66,54}</string>
                <key>textureRect</key>
                <string>{{503,1},{66,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>141_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,56}</string>
                <key>spriteSourceSize</key>
                <string>{66,56}</string>
                <key>textureRect</key>
                <string>{{319,67},{66,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>141_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,61}</string>
                <key>textureRect</key>
                <string>{{299,1},{64,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>141_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,53}</string>
                <key>spriteSourceSize</key>
                <string>{69,53}</string>
                <key>textureRect</key>
                <string>{{362,1},{69,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>141_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,55}</string>
                <key>spriteSourceSize</key>
                <string>{65,55}</string>
                <key>textureRect</key>
                <string>{{446,56},{65,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>141_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,57}</string>
                <key>spriteSourceSize</key>
                <string>{73,57}</string>
                <key>textureRect</key>
                <string>{{175,1},{73,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>141_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,63}</string>
                <key>spriteSourceSize</key>
                <string>{65,63}</string>
                <key>textureRect</key>
                <string>{{234,1},{65,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>141_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,51}</string>
                <key>spriteSourceSize</key>
                <string>{69,51}</string>
                <key>textureRect</key>
                <string>{{175,76},{69,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>141_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,95}</string>
                <key>spriteSourceSize</key>
                <string>{85,95}</string>
                <key>textureRect</key>
                <string>{{88,1},{85,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sheep141.png</string>
            <key>size</key>
            <string>{623,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd311f9bb1a16eaaaa02b934491ced58:0fcaa25c91d22332b1add4be6f5f68a8:ffd67624a5a2efed0d25cc4ee8614860$</string>
            <key>textureFileName</key>
            <string>sheep141.png</string>
        </dict>
    </dict>
</plist>
